/*=============================
        Layout
==============================*/

body {
  color: white;
  margin: 0;
}

/*=============================
        Sidebar Contents
==============================*/

#sidebar {
  background-color: #2b4353;
  width: 25%;
  height: 100vh;
  color: #e8630a;
  font-size: 16px;
  float: left;
}

#sidebarDetails {
  padding-left: 30px;
  padding-right: 30px;
}

#mainArea a {
  text-decoration: none;
}

#profilePic {
  width: 100%;
}

h1#name {
  color: black;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color: #e8630a;
}

h2 {
  color: #e8630a;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 18px;
}

.detail {
  color: #f7f7f7;
  font-family: "PT Mono", monospace;
  font-size: 15px;
}

ul {
  margin-left: 80px;
}

/*=============================
        MainArea
==============================*/

.mainArea {
  width: 75%;
  background-image: url("./images/cartography-bg.png");
  /* background-color: lightcoral; */
  float: left;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  float: left;
}

#mainAreaTU {
  width: 65%;
}

.pouTitle {
  font-size: 70px;
  width: 100%;
  text-align: center;
  margin: 40px 20px;
}

.pouTitle h1 {
  margin: 20px;
  font-family: "Black Ops One", cursive;
  color: #e8630a;
  font-weight: 400;
  background-color: #2b4353;
}

/*=============================
        Nav Column
==============================*/

#navColumn {
  width: 10%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  /* border: 3px solid red; */
  float: left;
}

.navTU {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  margin-top: 100px;
  margin-left: 10px;
  color: #cccccc;
  font-family: "Roboto Mono", monospace;
  list-style: none;
}

/*=============================
        Unused Code
==============================*/
/*
.card {
  width: 400px;
  height: 200px;
  background-color: hotpink;
  margin: 30px;
}

#card1 {
  background-image: url("mikyah01.jpg");
  background-size: cover;
}
*/

/* this is how you write a comment in CSS */

/* these are my CSS notes:
CSS stands for Cascading Stylesheet
*/

/*
GOOGLE FONTS:
font-family: 'PT Mono', monospace;
font-family: 'Roboto Mono', monospace;

FONTS FOR: KIA TU, KIA ORA, KIA MAORI
font-family: 'Audiowide', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Bungee Inline', cursive;
*/
